
<mat-sidenav-container fullscreen >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
      <mp-cities></mp-cities>


    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar  fxLayout="row" fxLayoutAlign="space-around center"  color="primary"  >
        <p><button mat-icon-button (click)="sidenav.toggle()" ><mat-icon>menu</mat-icon></button></p>
        <mat-toolbar-row fxLayoutAlign="space-around center" >
         <mp-city (eventCity)="addCity($event)" [city]="city" ></mp-city>
        </mat-toolbar-row>


      </mat-toolbar>

      <div fxLayout="row" fxLayoutAlign="space-around center" ><mp-meteo [city]="city.address ? city : null"></mp-meteo></div>
      <mat-divider></mat-divider>

      <div><mp-pollution [city]="city.address ? city : null"></mp-pollution></div>


    </mat-sidenav-content>
  </mat-sidenav-container>


