<mat-toolbar color="primary" >
  <p><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>

  <mp-city [city]="city"></mp-city>
</mat-toolbar>
<mat-sidenav-container  >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
      <mp-cities></mp-cities>
    </mat-sidenav>
    
    <mat-sidenav-content>
      
      <div><mp-meteo></mp-meteo></div>
      <mat-divider></mat-divider>

      <div><mp-pollution></mp-pollution></div>
     
     
    </mat-sidenav-content>
  </mat-sidenav-container>


 