
<mat-sidenav-container fullscreen >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
      <mp-cities></mp-cities>


    </mat-sidenav>
    
    <mat-sidenav-content>
      <div fxLayout="row" fxLayoutAlign="center center">
      <mat-toolbar  color="primary" >
        <p><button mat-icon-button (click)="sidenav.toggle()" fxFlex="50%"><mat-icon>menu</mat-icon></button></p>

         <mp-city (eventCity)="addCity($event)" [city]="city" fxFlex></mp-city>

      </mat-toolbar>
      </div>
      <div><mp-meteo></mp-meteo></div>
      <mat-divider></mat-divider>

      <div><mp-pollution></mp-pollution></div>
     
     
    </mat-sidenav-content>
  </mat-sidenav-container>


