mat-card {
  width: 500px;
  height: 500px;

}
mat-card-header{

  align-content: center;
}

.value{
  font-weight: bolder;
  font-size: 2em;
}
.title{
  font-size: 2em;

}
mat-card-subtitle{
  margin-left: 15%;
}
li{
  list-style-type:none;
}
.sun{
  background-image: url("/meteo-pollution/src/assets/sun.jpg");
}
.snow{
  background-image: url("/meteo-pollution/src/assets/snow.jpg");
}
.rain{
  background-image: url("/meteo-pollution/src/assets/rain.jpg");
}
.thunder{
  background-image: url("/meteo-pollution/src/assets/thunder.jpg");
}
.fog{
  background-image: url("/meteo-pollution/src/assets/fog.jpg");
}
.cloud{
  background-image: url("/meteo-pollution/src/assets/cloud.jpg");
}

