
<div *ngIf="city && city.address;" >
<div fxLayout="column" fxLayoutAlign="start center" class="meteo mat-elevation-z24">

    <h2 ><span class="title">MÉTÉO</span></h2>
  <div fxLayoutAlign="center center" ><img  src="http://openweathermap.org/img/w/{{city.weather.weather[0].icon}}.png"></div>


  <div>
<mat-tab-group >
  <mat-tab  label="description" fxlayoutAlign="center"  ><span class="value" >{{city.weather.weather[0].description}}</span><div class="{{city.weather.class}}"></div></mat-tab>
  <mat-tab label="Temperature">
    <ul>
      <li><span class="value">Temperature:</span> <span class="value" fxLayoutAlign="end ">{{city.weather.main.temp |number:'1.0-0'}} °C</span></li>
      <mat-divider></mat-divider>
      <li><span class="value">Temperature Min :</span> <span class="value" fxLayoutAlign="end ">{{city.weather.main.temp_min |number:'1.0-0'}} °C</span></li>
      <mat-divider></mat-divider>
      <li><span class="value">Temperature Max: </span><span class="value" fxLayoutAlign="end ">{{city.weather.main.temp_max |number:'1.0-0'}} °C</span></li>

    </ul>

  </mat-tab>
  <mat-tab label="Wind">
    <span  fxLayoutAlign="none " class="value"> wind speed:</span> <span class="value" fxLayoutAlign="end center">{{city.weather.wind.speed }} m/s</span></mat-tab>

</mat-tab-group>
  </div>
</div>
</div>
