.meteo {
  width: 500px;
  height: 500px;


  border-radius: 12px;

}



.value {
  font-weight: bolder;
  font-size: 2em;
}

.title {
  font-size: 2em;

}




li {
  list-style-type: none;
}

.sun {
  height: 250px;
  width: 500px;
  border-radius: 12px;
  background-image: url("/assets/sun.png");
  background-size: cover;
}

.snow {
  height: 250px;
  width: 500px;

  background-image: url("/assets/snow.jpg");
  background-size: cover;
  border-radius: 12px;
}

.rain {
  height: 250px;
  width: 500px;

  background-image: url("/assets/rain.jpg");
  background-size: cover;
  border-radius: 12px;
}

.thunder {
  height: 250px;
  width: 500px;

  background-image: url("//assets/thunder.jpg");
  background-size: cover;
  border-radius: 12px;
}

.fog {
  height: 250px;
  width: 500px;
  background-image: url("/assets/fog.jpg");
  background-size: cover;
  border-radius: 12px;
}

.cloud {
  height: 250px;
  width: 500px;
  background-image: url('/assets/cloud.jpg');
  background-size: cover;
  border-radius: 12px;

}

