mat-card {
  width: 500px;
  height:600px;

}
mat-card-header{

  align-content: center;
}

.value{
  font-weight: bolder;
  font-size: 2em;
}
.title {
  font-size: 2em;
}

li{
padding-top: 10%;
  padding-bottom: 10%;
  list-style-type:none;
}
ul{
  padding-top: 5%;

}


.indice-pollution{
  padding:  5%;
  border-radius: 12px;

}
