mat-card {
  width: 500px;
  height: 500px;

}
mat-card-header{

  align-content: center;
}

.value{
  font-weight: bolder;
  font-size: 2em;
}
.title{
  font-size: 2em;
  margin-left: 15%;
}
mat-card-subtitle{
  margin-left: 15%;
}
li{

  list-style-type:none;
}


